<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>
